[2017-10-19 05:16] JesseFarebro opened #14 "Repositories with hipblas hcc"
I tried following the getting started steps exactly and continue to be puzzled by hipblas. It seems in the ROCM repository hipblas doesn't link shared library named `libhipblas-hcc.so` which hiptensorflow is looking for. I've tried building rocblas and hipblas from scratch to investigate a little but I don't see anywhere where `libhipblas-hcc` is being built. Here is the output from `python -c 'im

[2017-10-19 13:54] whchung commented on #14
@JesseFarebro could you help try `export LD_LIBRARY_PATH=/opt/rocm/lib`

[2017-10-19 14:08] sunway513 commented on #14
@JesseFarebro , I believe this issue is due to the mismatch version of hipTF whl package and hipblas lib; we'll resolve it today and update this thread.

In the meanwhile, you can try to build hip branch from source with this [doc](https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/rocm_docs/tensorflow-build-from-source.md), or use our official [docker repo](https://hub.docker.com/r/ro

[2017-10-19 15:10] JesseFarebro commented on #14
Thanks! I'll build it from source for the time being. Not sure if you can comment on this or not but will there be a proper hcc version with rocm and MIOpen upstreamed later or will a HIP port be all there is for tensorflow.

[2017-10-19 15:35] sunway513 commented on #14
The hipTF whl package has been refreshed, and the issue should have been resolved if you pull and install the updated hipTF whl package again.
Here's the checksum for the updated hipTF package:
[code]
And the essential steps for you to resolve the issue:
[code]

Regarding your question, this repo is hosting the HIP port of tensorflow.
To build hipTF from source, what you'll need besides ROCm1.6.4

[2017-10-19 15:35] #14 closed

[2017-10-19 15:38] JesseFarebro commented on #14
@sunway513 I know this is the repository for the HIP port but I was wondering if there's work underway to upstream a non-hip rocm implementation?

[2017-10-19 21:05] bensander commented on #14
@JesseFarebro - we are working on PR to upstream the HIP backend to TensorFlow, that will be the path to run on ROCM.  We anticipate this will be easy to keep in sync with the existing CUDA back-end since the codes are similar.

[2017-10-24 13:24] masahi opened #15 "Having trouble running examples"
Hi, I followed the installation and quickstart instruction but I am getting the error below.
Can you tell me how I can fix this? Is missing hipfft and hiprng the problem?

I have been using rocm 1.6.3, but @bensander told me I need 1.6.4 for hiptensorflow. Following the installation instruction, I think I have my rocm upgraded - but I'm not sure. How do I know if I am running 1.6.4 correctly? This

[2017-10-24 13:27] bensander commented on #15
Let's start by making sure you have the latest ROCM installed - uname -a should return a kernel version like "4.11.0-kfd-compute-rocm-rel-1.6-180".  If that looks good please attach results from running hipconfig on your system.

[2017-10-24 13:33] masahi commented on #15
@bensander Thank you for helping me out.

[code]

[code]

[2017-10-24 15:03] sunway513 commented on #15
Hi @masahi , what's your installed rocm-libs version?
Here's the command and result from hipTF official docker image:
[code]

[2017-10-24 15:11] masahi commented on #15
@sunway513
[code]

[2017-10-24 16:20] sunway513 commented on #15
That looks right. However, it looks like your hiprng and hipfft was not properly installed.
Could you help try the following commands to build/install hiprng and hipfft from source?
[code]

In addition, could you try our official docker image, here's the essential commands after you setup[ rocm docker](https://github.com/RadeonOpenCompute/ROCm-docker/blob/master/quick-start.md) environment:
[code]

[2017-10-24 16:40] masahi commented on #15
@sunway513 I installed hipfft and hiprng and they are found by tf now. Still the same error.
I haven't used docker before and am not familiar with it. It will take sometime to set it up.
If I can get by without using docker, let me know.

[code]

[2017-10-24 16:51] sunway513 commented on #15
Great you got one step closer!
It still looks like some of your ROCm math libs were not properly installed.
Could you try the following instructions to build/install rocblas and hipblas from source as well?
[code]

[2017-10-24 21:57] masahi commented on #15
@sunway513 I encountered the following error when doing ./install.sh for rocBLAS.
Any idea?

[code]

[2017-10-24 22:02] parallelo commented on #15
Are you able to successfully purge the previous rocblas package and then try another install?

Something like this:

[code]

[2017-10-24 22:07] masahi commented on #15
@parallelo it's complicated :)
[code]

[2017-10-24 22:16] masahi commented on #15
@sunway513 I've just built and installed the latest miopengemm and miopen from master.
Still getting the same error.

[2017-10-24 22:22] parallelo commented on #15
This line is interesting:
[code]
The issue might be that you still have some older ROCm packages on the system (i.e. pre-1.6.4).  The newest public version of rocblas on repo.radeon.com is `0.6.0.4`:  http://repo.radeon.com/rocm/apt/debian/pool/main/r/rocblas/

So, let's try this:
[code]
Additionally, you probably want to double-check that the rest of your ROCm packages are fully up to date.

[2017-10-24 22:31] parallelo commented on #15
Then, please send the results of this:
[code]

[2017-10-24 22:46] masahi commented on #15
@parallelo @sunway513 After I cleared and reinstalled rocm-libs, it's working!
[Here](https://gist.github.com/masahi/e89c40f71fddf2e009b7c46e1328848a) is the full output of running mnist example.

This is pretty exciting. I can finally start training on my Nano.
I am going to take a look at other examples and see if they work as well.

Thank you very much guys. You are awsome :)

[2017-10-24 22:50] parallelo commented on #15
Happy to hear it.  Keep us posted.

[2017-10-24 22:51] #15 closed

[2017-10-25 00:06] masahi commented on #15
@parallelo @sunway513

I confirmed that all examples works on my R9 Nano: CifarNet, ResNet, Inception classification, and Soumith Convnet Benchmarks.

It's good.

[2017-10-30 07:36] kruftindustries opened #22 "Unmet dependencies during step: Install rocBLAS"
**Problem:**
Unmet dependencies during step: Install rocBLAS

**Operating System:**
Ubuntu 16.04.3
4.11.0-kfd-compute-rocm-rel-1.6-180

**Installed version of CUDA and cuDNN:**
`ls -l /usr/local/cuda
lrwxrwxrwx 1 root root 8 Oct 29 21:53 /usr/local/cuda -> cuda-9.0`

**Command Ran:**

`cd ~ && git clone -b develop https://github.com/ROCmSoftwarePlatform/rocBLAS.git && cd rocBLAS && sudo ./install.

[2017-10-30 07:41] kruftindustries commented on #22
The package manager saying:
[code]
Looked a little menacing but performing the action allowed me to continue. Hopefully I have not broken the computer on next reboot...

[2017-10-30 07:41] #22 closed

[2017-10-31 21:15] KeironO opened #23 ""There is no device can be used to do the computation""
**Problem:**
Unable to run on an AMD RX Vega 64.

**Operating System:**
[code]

**Output:**
[code]

**hipconfig:**

[code]

I can see that there's a problem in that it's attempting to configure for nvcc, but I've checked if roc is installed and everything looks fine.

[code]

I think this may be down to a driver issue, so here's the output from ```lshw```.

[code]

A little bit more info from ```l

[2017-10-31 21:33] parallelo commented on #23
Hi @KeironO,

This is interesting, as `hipconfig` shows a non-ROCm platform.

I'll assume that you are unable to build & run some of the samples under `/opt/rocm/hip/samples`?

For example, something like this:

[code]

[2017-10-31 21:57] whchung commented on #23
kernel version `4.13.0-16-generic ` suggests ROCm stack is not properly installed. please install it following steps at: https://rocm.github.io/install.html

[2017-11-01 21:50] KeironO commented on #23
@parallelo

```make``` fails.

[code]

[2017-11-01 21:54] parallelo commented on #23
Hi @KeironO,

Yes, @whchung is correct here.  Please check your installation, as it looks like your kernel isn't the ROCm one.  Retry the steps here:  https://rocm.github.io/install.html

You should see the following kernel:
[code]

[2017-11-01 21:58] KeironO commented on #23
Hi there,

I've installed ```roc```, output from ```dpkg --list | grep linux-image``` below:

[code]

However, when I boot into ```4.11.0-kfd-compute-rocm-rel-1.6-180-1```, I'm only seeing a blank screen.

I can't get into ```getty``` neither, so I think it may be something related to kernel mismatch.

I hope I'm wrong(!)

[2017-11-01 22:19] parallelo commented on #23
@KeironO - Did you start with a fresh Ubuntu installation?  Also, I noticed that you are using Ubuntu 17.10, and I bet this hasn't been tested much with ROCm.  (but I may be wrong)

@jedwards-AMD - Any ideas on how to investigate this further?

[2017-11-01 22:30] jedwards-AMD commented on #23
I would suggest putting the system into console only mode and seeing what dmesg entries they get on bootup.

[2017-11-01 22:40] parallelo commented on #23
Ubuntu 17.10 seems like an "unknown" factor in terms of ROCm, at least from my own personal experience.  After investigating `dmesg` (as suggested by jedwards-AMD), you should also probably consider dropping back to 16.04 LTS.

[2017-11-01 23:40] KeironO commented on #23
Thanks for the support so far, ideally I'd like to use Ubuntu 17.10 as I've been impressed so far by the switch to GNOME/Wayland.

Anyhow, ```dmesg``` returns the following:

[code]

Something to note:

[code]

[2017-11-01 23:58] parallelo commented on #23
@jedwards-AMD - Not familiar with the error above.  Any thoughts on it or the rest of the `dmesg` log?  Also, any known issues with Ubuntu 17.10?

[2017-11-03 13:55] MSchuwalow opened #27 "What types of operations are supported?"
Hi.

I tried running a lstm based network using hiptensorflow.
The operations ran fine in the sense that no errors were thrown and nothing crashed, but the network completely failed to optimize.
Running the setup on a cpu/nvidia gpu leads to consistent convergence after around 300 epochs, while the loss of the version runnnig on hiptensorflow/rocm shows almost no change in loss.

Is this expected

[2017-11-03 14:33] sunway513 commented on #27
Hi @MSchuwalow , thanks for trying hipTF!

In your local hipTF environment, are you able to complete the examples in this [doc](https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/rocm_docs/tensorflow-quickstart.md)?
If not, could you try our public hipTF docker image [here](https://hub.docker.com/r/rocm/hiptensorflow/)?

Currently, RNN operations are not supported by MIOpen, and we do

[2017-11-03 18:24] rahasayantan opened #28 "There is no device can be used to do the computation"
===================
### Environment info
Operating System: UBUNTU => 16.04

Kernel information =>
===================================
dpkg --list | grep linux-image
ii  linux-image-4.11.0-kfd-compute-rocm-rel-1.6-180   4.11.0-kfd-compute-rocm-rel-1.6-180-1               amd64        Linux kernel, version 4.11.0-kfd-compute-rocm-rel-1.6-180
ii  linux-image-4.4.0-21-generic                      4.4.

[2017-11-03 18:34] bensander commented on #28
Thank you for detailed issue report.
It looks like the AMDGPU graphics driver failed to detect your GPU:
HIP_PLATFORM : nvcc

Is this your card:
product: Sun XT [Radeon HD 8670A/8670M/8690M / R5 M330]

I believe this is not on the supported card list?

[2017-11-03 18:44] rahasayantan commented on #28
R5 M335. Is there any chance that this will be supported in recent future?
Thanks and regards
Sayantan

[2017-11-04 14:21] briansp2020 opened #29 "How do I set up tensorflow to use hip/ROCm?"
Sorry for abusing issues for questions.
I'm trying to set up tensorflow to use my Fury Nano on Ryzen 7 1800X machine running Ubuntu 16.0.3 with ROCm 1.6-180.

I followed https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/rocm_docs/tensorflow-install-basic.md but I'm not sure if it is properly installed.

When I check the version of tensorflow

I tensorflow/stream_executor/dso_loader.cc

[2017-11-04 14:32] bensander commented on #29
Hi Brian - it looks like you ran out of memory:
MIOpen Error: /data/repo/MIOpen/src/hip/handlehip.cpp:68: Memory not available to allocate buffer: 822083584

VGG uses a large amount of memory and may not fit on your Fiji.  Can you reduce the batch size (--batch_size 32 or 16 ) or run one of the other benchmarks (benchmark_alexnet.py) to verify the config?

[2017-11-04 14:43] briansp2020 commented on #29
Hi Ben,
Thanks for the fast response. benchmark_alexnet.py fihisned without error. Reducing the batch size allowed benchmark_vgg.py to finish as well.

If I get RX Vega 56, will I be able to run benchmark_vgg.py without modification? What GPU is best supported by ROCm ML libraries at the moment. I'm just starting to learn ML framework and, though I like tinkering with ROCm & AMD GPUs, my first goa

[2017-11-05 10:03] MSchuwalow commented on #27
Alright. Thanks for the quick reply.

I can complete all the examples. But if RNNs are not yet supported we have found the culprit.
Is there an estimation when that feature will be added?

[2017-11-05 11:22] bensander commented on #29
The vega 56 should work - IIRC it has 8GB memory while your Fiji has just 4.
Vega is the best supported architecture right now.

[2017-11-05 11:22] #29 closed

[2017-11-06 06:06] sunway513 commented on #27
Yes, we'll have RNN supported by MIOpen very soon; right after that, we'll integrate the RNN into hipTF. So it would be ready in a handful of weeks -- will update here and let you know :-)

[2017-11-06 06:06] #27 closed

[2017-11-06 06:08] sunway513 commented on #23
We have not tested hipTF on Ubuntu 17.10. @KeironO , a workaround would be to keep your current KFD and use hipTF docker image -- that should work.

[2017-11-06 07:19] briansp2020 commented on #29
Thanks for the help. I was able to get Keras to work with hipTF.
http://briansp2020.github.io/2017/11/05/fast_ai_ROCm/

[2017-11-06 14:49] whchung commented on #28
@rahasayantan the device was dated back in 2013 and wouldn't be supported.

[2017-11-06 14:49] #28 closed

[2017-11-07 04:05] briansp2020 opened #33 "Building from source"
I'm trying to build hipTensorFlow from source. But I'm getting the following error.

INFO: Found 1 target...
INFO: From Executing genrule //tensorflow/core:version_info_gen [for host]:
fatal: No names found, cannot describe anything.
ERROR: missing input file '@eigen_archive//:COPYING.MPL2'.
ERROR: /home/briansp/.cache/bazel/_bazel_briansp/571ae586fecf83b9a6234cf61f8c1b93/external/grpc/BUILD.bazel

[2017-11-07 04:25] whchung commented on #33
@briansp2020 Building hipTensorFlow from source requires you install every dependent packages according to the steps described in the markdown text.

[2017-11-10 13:36] masahi commented on #15
@parallelo @sunway513

Hi again, I have fast neural style transfer code [here](https://github.com/lengstrom/fast-style-transfer) running on hiptensorflow. This fact alone is pretty cool, but I am seeing some performance issues.

Is it the right place / time to post performance issues?

[2017-11-10 14:58] whchung commented on #15
@masahi feel free to share your investigation results here. there are certain spots we do know need to be improved, for example how pooling layers are implemented.

[2017-11-10 15:45] #33 closed

[2017-11-10 17:47] masahi commented on #15
@whchung ok, I'm going to open a new issue.

[2017-11-10 18:18] masahi opened #34 "Performance issues on a certain workload"
Hi, I am running fast neural style transfer code [here](https://github.com/lengstrom/fast-style-transfer) on hiptensorflow.

Both inference and training worked on R9 Nano, but it's slow.

For inference, it took 1.2 second to style transfer a 1024×680 image, while the same code running on GTX 1050 Ti with cudnn can do it in 0.25 sec. The author of the repo says Maxwell Titan X can do it in 0.1 sec.

[2017-11-10 21:45] sunway513 commented on #34
@masahi , thanks for trying hipTF!
Let's first make sure you have configured hipTF correctly. Can you provide the log from the following command:
`/opt/rocm/bin/rocm-smi`
Second, I'm suspecting hipTF is using a different path than NV -- there're some ops not yet supported by MIOpen, thus you've seen additional kernels not shown in NV path; could you look more on that path?

[2017-11-10 21:47] sunway513 commented on #23
Please feel free to reopen the issue if anything else we can help. Please note we do not officially support UB17.10.

[2017-11-10 21:47] #23 closed

[2017-11-10 23:12] masahi commented on #34
@sunway513
[code]

I can dig into this issue in more detail, but I'm not going to build hiptensorflow from source. It looks complicated :)

Do you know if all convolutional layers are dispatched to miopen, or this reduction hip kernels might be plain convolution implemented in hip?

[2017-11-10 23:34] sunway513 commented on #34
Thanks, you may try to lock the SCLK to 7 and MCLK to 3 for maximum performance, please check `/opt/rocm/bin/rocm-smi -h`

Could you also provide the log for HIP configure:
`/opt/rocm/hip/bin/hipconfig`

Conv layers have been fully ported to MIOpen, however, the reduction kernel seems still using Eigen implementation.
I would suspect NV also uses Eigen kernels here; if not, could you identify whic

[2017-11-10 23:41] masahi commented on #34
[code]

I put the output of nvprof --print-gpu-summary [here](https://gist.github.com/masahi/0ec49b6c71c306896381588f551af657)
It does use eigen kernels, but different ones.

[2017-11-10 23:55] masahi commented on #34
@sunway513 the network uses many 1x1 convolution, see [here](https://github.com/lengstrom/fast-style-transfer/blob/master/src/transform.py#L46)

Are you sure all conv ops are done by miopen? In profile I am only seeing
*sp3AsmConv3x3F (winograd?)
*sp3AsmConvRxSF (winograd?)
*miog_alphaab and miog_betac_alphaab (gemm based conv?)

But miopen has 1x1 convolution right? It doesn't show up in codexl.

[2017-11-11 02:25] masahi commented on #34
@sunway513 ok, I think I now understand most of the profiling result.

Hip reduction kernels are definitely happening at tf.nn.moments(...).
Since there are 16 calls to tf.nn.moments and profiling shows that there are 48 reductions per one forward, tf.nn.moments should be doing 3 reductions per call.

For some reasions, some of the reduction calls are taking more than 200 msec.

[2017-11-11 02:31] briansp2020 commented on #33
The main problem was that I installed hipEigen, following the instructions from the hipEigen repo (cmake & make install).
After cloning the hipEigen repo to /opt/rocm, I was able to built it. Not sure why the hipEigen installation instruction does not work...

[2017-11-11 03:02] wadetb opened #35 "Couldn't open CUDA library libMIOpen.so"
This may be elementary, but I'm running into an error trying to use hipTensorflow on Debian 9.

[code]
[code]
[code]

I'm able to run other HIP workflows so I believe my setup is ok, just not Tensorflow.

[code]

Thanks for any help you can provide!

[2017-11-11 03:05] parallelo commented on #35
Hi @wadetb,

Can you try setting the following env var?
[code]

See if that helps, and let us know how it goes.

Best,

Jeff

[2017-11-11 14:04] wadetb commented on #35
Hi @parallelo, thanks for responding! I did try that but the result is unchanged.

[code]

For some of the libraries that did load, I noted that there are files with version numbers appended to them in `/opt/rocm/`.

[code]

And, in those cases the non-numbered version is usually a symlink to the numbered version.

[code]

I presume this naming has to do with the particular ABI (C runtime even?) t

[2017-11-11 18:10] wadetb commented on #35
Debugging this with `LD_DEBUG=files` gives this:

[code]

It appears to find libMIOpen.so but then gets tripped up looking for libcrypto.so.1.0.0, since it doesn't print "generating link map". I'll continue to investigate.

[2017-11-11 18:14] wadetb commented on #35
Checking my system, I do have `libcrypto.so.1.0.2` and `libcrypto.so.1.1` but not `libcrypto.so.1.0`.

[code]

I confirmed that `libssl-dev` is installed.

[2017-11-11 18:36] wadetb commented on #35
I'm learning about how all this stuff works, but I found something suspicious about `libMIOpen.so` using `ldd`.

[code]

Note how most libraries are referred to by a single number, e.g. `libm.so.6`. That means that `libMIOpen.so` cares about the major version, but not minor or patch version of `libm.so` - and systems will symlink the major version to the latest patch version:

[code]

But in the c

[2017-11-11 18:52] parallelo commented on #35
Hi @wadetb,

Thanks for digging deeper.

Adding @pfultz2 - regarding MIOpen installation on Debian 9.

In the meantime, some MIOpen dependency install details are here (e.g. `install_deps.cmake`):
https://github.com/ROCmSoftwarePlatform/MIOpen#installing-the-dependencies

Best,

Jeff

[2017-11-12 02:24] wadetb commented on #35
I was able to work around the problem by:

1. Downloading an old version of libssl from the Debian Jessie distribution at https://packages.debian.org/jessie/amd64/libssl1.0.0/download

2. Installing it using `sudo dpkg --install libssl1.0.0_1.0.1t-1+deb8u7_amd64.deb`

Now `libMIOpen.so` loads correctly.

[code]

I believe the correct solution is to relax the `libcrypto.so` version dependency, but

[2017-11-12 02:43] wadetb opened #36 "Newer Tensorflow builds available? And Python3."
Hi, for my project I've been using `tf-nightly-gpu` which offers some new features, the one that is important to me is the `contrib_audio` module for its spectrogram and mfcc operators. For now I have switched to using `librosa` but I would like to go back to using Tensorflow for this if possible.

Are there plans to release versions of hipTensorflow built against more recent versions of Tensorflo

[2017-11-12 03:23] wadetb opened #37 "SIGABRT running Tensorflow model"
I've got my model running once under ROCm, but it seems as though the second iteration causes it to fail.

[code]

Here's the program output:

[code]

*Aborted* means the program is halting with a SIGABRT signal, but I'm not sure from where.

Here is the model I'm running:

[code]

I ran Python under `gdb` and got this backtrace:

[code]

Let me know if there's any more information I can provide,

[2017-11-12 03:54] wadetb commented on #37
I've narrowed the problem down slightly, it comes down to running the model with my training versus my testing data set.

The first iteration runs the model with 100 random samples from the training data set, the second iteration (which aborts) runs the model with the entire testing set of 514 samples.

Further investigation showed that the number of samples is at fault, any more than 205 samples

[2017-11-12 11:12] KeironO commented on #23
Thank you for your help, are there plans to support the next LTS?

[2017-11-12 15:52] sunway513 commented on #36
We are working on PR to upstream the HIP backend to TensorFlow, that'll be the path we catch up with more recent TF releases.
Have you found any issues of using Python 3 for hipTF?

[2017-11-12 16:00] sunway513 commented on #37
@wadetb , could you try our official [hipTF docker image](https://hub.docker.com/r/rocm/hiptensorflow/)?
You mentioned your work is based on Debian9 in another thread, but all of our tests were based on Ubuntu16.04 so far, and we do not have the plan to move to more recent Debian build unless ROCm platform decides so.
By using our docker image with proper KFD setup, we can root out potential issue

[2017-11-12 18:15] parallelo commented on #35
Nice work solving the MIOpen issue that happens on Debian.  I don't think the MIOpen team has been testing much on Debian yet.

Since you've got that working, you might consider running some simple workloads to verify that your setup is looking okay:  https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/rocm_docs/tensorflow-quickstart.md

I'll close this issue.  Feel free to re-open or o

[2017-11-12 18:15] #35 closed

[2017-11-12 19:35] nisseb opened #38 "Segmentation fault when running research/object_detection/train.py with rocm backend."
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
None

### Environment info
Operating System: Ubuntu 16.04

Followd installation instructions for amdgpu-pro on:
http://support.amd.com/en-us/kb-articles/Pages/AMDGPU-PRO-Install.aspx
and for hiptensorflow on:
https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/rocm_docs/tensorfl

[2017-11-14 03:34] wadetb commented on #37
@sunway513, I tried the hipTF docker image and it worked but was unable to find my device at first. Then I realized that I have to run it with `--device="/dev/kfd"` and was able to run the script. It would be great if they could clarify the documentation for that Docker image, especially for people who are new to Docker.

In the Docker image the result is the same, out of memory, but with a cleare

[2017-11-14 03:34] #37 closed

[2017-11-14 03:43] wadetb commented on #36
Thanks for letting me know your plans with respect to upstream.

Regarding Python3, the provided 1.0.1 Tensorflow build is built for Python 2.7 and is incompatible with Python 3.x. For example, if you run the hipTF docker image and type `python3` and try to `import tensorflow`, you will see an error.

[code]

For my purposes I have discovered that `pathlib` is available for Python 2.x via `pip ins

[2017-11-14 03:43] #36 closed

[2017-11-14 05:49] bensander commented on #34
This looks like similar issue that we resolved with the HIP runtime - proper reporting of shared memory size, and also changing compute cap number to 3 which enabled TF to select more optimal code paths for the reduction kernels.  That fix is avail in our open-source report https://github.com/ROCm-Developer-Tools/HIP.    If you are comfortable building HIP from source you can follow instructions t

[2017-11-14 15:16] masahi commented on #34
@bensander I built the latest HIP from source, but it didn't help.

I think the slow kernel is one of those in [this file](https://github.com/ROCmSoftwarePlatform/hipeigen/blob/upstream/unsupported/Eigen/CXX11/src/Tensor/TensorReductionHip.h), but I don't know which one. The kernel name shown in CodeXL is something like _cxxamp_trampoline, which is a garbage.

I also don't know exactly when slow i

[2017-11-17 16:11] whchung commented on #34
@masahi could you try change this line:
https://github.com/ROCmSoftwarePlatform/hipeigen/blob/upstream/unsupported/Eigen/CXX11/src/Tensor/TensorReduction.h#L494

from:

[code]

to:

[code]

[2017-11-17 16:16] masahi commented on #34
@whchung thanks, I will try later (away from my pc now).

Do I need to build hiptensorflow from source?

[2017-11-17 16:31] whchung commented on #34
@masahi yes. `hiptensorflow` includes `hipeigen` as a collection of header files. so you need to rebuild it.

[2017-11-17 16:35] masahi commented on #34
@whchung alright, I'll go ahead and build things.

[2017-11-19 07:47] NiftyGrimoire opened #39 "CIFAR10 Tutorial "Model Diverged with loss = NaN""
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
None
### Environment info
Operating System: Ubuntu 16.04
Followed Installation steps in: https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/rocm_docs/tensorflow-install-basic.md
Also tried docker: https://hub.docker.com/r/rocm/hiptensorflow/
To same results.

### 2. The output

[2017-11-19 13:13] masahi commented on #34
@whchung I'm getting this error when building hiptensorflow. Have you seen this error? Looks like this "undeclared inclusion" error is a common error people encounter when building tensorflow from source.

I built hcc, hip, and other libraries from source.

[code]

[2017-11-20 08:45] NiftyGrimoire commented on #39
Just tested with a learning rate of zero, still diverges.
I have also attempted changing from distorted_inputs() to inputs() to no avail.
Running the ResNet model appears to work (Though ResNet is slower, so I have yet to achieve the same number of steps).

The diverging occurs randomly, at points in the code. I returns the NaN error anywhere between 400 to 90000 steps in. (Furthest I have gotten

[2017-11-20 11:55] bensander commented on #39
A bit of a guess but can you try changing the batch_size?  We have another ticket related to NANs in cifar10 training which occurs only for specific batch sizes.

[2017-11-20 11:56] NiftyGrimoire commented on #39
Will try that now. Will update soon.

[2017-11-20 12:20] bensander commented on #38
Sandeep, can you try to report this internally?

[2017-11-20 12:41] NiftyGrimoire commented on #39
@bensander
Just tested once with batch size of 64. Still diverges (again, zero learning rate). Running batch size of 100 now.

In the middle of modifying the cifar10 CNN to accept SVHN data (as per the tutorials outlined on the Tensorflow site). I'll report on that as well.

Just a quick shout, thanks for all your, and everyone else's, hard work on porting these platforms to hip/ROCm. Makes dippin

[2017-11-20 12:47] 7SK commented on #38
Sure Ben

[2017-11-20 14:06] bensander commented on #39
@7SK - Sandeep can you repro this one internally with pre-ROCm 1.7 bits?
@NiftyGrimoire - we have made several improvements to TF and the stack since the 1.6.4 branch.   Many o the user bits for 1.7 are already publicly available in source form.  If you are brave, you can rebuild HCC, HIP, and the hip-develop branch of TensorFlow.  Or we should have this avail in prebuilt packages in ~week.

[2017-11-20 15:26] NiftyGrimoire commented on #39
I can give that a bash, though that will have to wait until tomorrow I'm afraid.
As an update, it does seem to still diverge at 100.

Since it seems some other people was able to get through the tutorials no problem, is there any hardware information I should provide? I'm using a RX 480 8Gb. Driver is amdgpu-pro-17.40.

Implemented version with SVHN data. Not sure if my implementation is correct,

[2017-11-21 13:38] 7SK commented on #34
@masahi the build issue is resolved on hip-develop branch, please try now

[2017-11-21 15:53] masahi commented on #34
@7SK ok, the build succeeds now with hip-develop branch, thanks.

[2017-11-21 16:14] masahi commented on #34
@whchung you change doesn't help me. In fact, the condition

[code]
always evaluates to false even without your change, because RunningFullReduction is always 0 (I checked it).
So this branch is never taken.

Instead,[ this branch ](https://github.com/ROCmSoftwarePlatform/hipeigen/blob/upstream/unsupported/Eigen/CXX11/src/Tensor/TensorReduction.h#L518)is always taken.

My test script is [here](htt

[2017-11-22 06:49] MyAusweis opened #41 "AttributeError: 'module' object has no attribute 'get_or_create_global_step'"
Dear All,

I have tried this AMD version of tensorflow using train.py in from models/research/object_detection, when i run it the cuda has opened successfully but  it showed "AttributeError: 'module' object has no attribute 'get_or_create_global_step'. i use ubuntu 16.04, RAM 8GB, python 2.7.12. laptop lenovo G50-80 I7 5500 with Graphics Radeon

anyone can help me ?

[2017-11-22 11:06] 7SK commented on #41
Hi @MyAusweis ,
tf.train.get_or_create_global_step is not part of current version of hiptensorflow. Please use this workaround for the time being https://github.com/7SK/models/commit/db1a4dcd8d3f12bcdf9ba4c274cda9ed089985a5

[2017-11-22 14:07] MyAusweis commented on #41
i'm new to github, pls tell me how to arrange to the models for the id 7SK/models@db1a4dc thx

[2017-11-22 14:51] MyAusweis commented on #41
Now after i replace the value of optimizer_builder.py with your sugestion 7SK@models, i found error :

File "/home/user/lat-toy/object_detection/utils/variables_helper.py", line 122, in get_variables_available_in_checkpoint
    ckpt_reader = tf.train.NewCheckpointReader(checkpoint_path)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/pywrap_tensorflow.py", line 110, in NewCheckpoi

[2017-11-25 11:06] Dekken opened #42 "CUDA required?"
Hi

I've just gone through the basic setup and I'm attempting the quickstart guide to validate my setup.

However what I've tried has failed with the following output.

[code]

my /opt/rocm/lib is as follows:

[code]

My card is XFX RX VEGA 64 Liquid Edition

Thanks

[2017-11-26 19:46] sunway513 commented on #42
Hi, have you installed ROCm 1.6.4 miopen-hip and miopengemm packages in your system?
Here's the expected package versions:
[code]
Please provide the output of the command:
`apt --installed list | grep miopen
`

[2017-11-26 21:57] Dekken commented on #42
[code]

[2017-11-26 22:20] sunway513 commented on #42
The version of MIOpen-hip and MIOpenGEMM seems correct.
However, I noticed you've installed HIP and HCC that are post-ROCm1.6.4 -- that might be the cause of your issue.
I would recommend you to start from a clean Ubuntu system that only has ROCm1.6.4 bits installed, or wait for our ROCm1.7 release.
And you can also use our official hipTF docker image for quick deployment:
[https://hub.docker.com/

[2017-11-26 22:20] #42 closed

[2017-11-26 22:28] Dekken commented on #42
Is there an ETA on 1.7?

I'm not sure how starting from a clean system would resolve this, as all my packages are from the ROCM apt repo.

[2017-11-26 22:37] sunway513 commented on #42
ROCm1.7 should be available very soon.

There must be some components not from ROCm1.6.4 build -- and hipTF is very sensitive to the combined software stacks, including hip/hcc/rocr/KFD and other libraries.
That's why I recommend you start from a clean Ubuntu system that ONLY has ROCm1.6.4 bits installed.
You can experience the docker image I've recommended, that was built strictly following the s

[2017-11-27 04:45] greatken999 commented on #23
i get this error too,my system is ubuntu 16.04.
vector_copy test info:
ken@ken-B250M-D3H:~/mytmp/sample$ ./vector_copy
Initializing the hsa runtime succeeded.
Checking finalizer 1.0 extension support succeeded.
Generating function table for finalizer succeeded.
Getting a gpu agent failed.

hiptensorflow test:
ken@ken-B250M-D3H:~$ python
Python 2.7.12 (default, Nov 19 2016, 06:48:10)
[GCC 5.4.0 201

[2017-11-27 05:56] 7SK commented on #41
Hi @MyAusweis, you need to update the config to provide the path for the following:
https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/ssd_mobilenet_v1_pets.config#L158
https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/ssd_mobilenet_v1_pets.config#L175
https://github.com/tensorflow/models/blob/master/research/object_d

[2017-11-28 01:48] MyAusweis commented on #41
Thank you for your help, but i found another problem

user@user-Lenovo-G50-80:~/lat-toy$ python train.py --pipeline_config_path=./ssd_mobilenet_v1_pets.config --train_dir=.
I tensorflow/stream_executor/dso_loader.cc:139] successfully opened CUDA library libhipblas.so locally
I tensorflow/stream_executor/dso_loader.cc:139] successfully opened CUDA library libhipfft.so locally
I tensorflow/stream_ex

[2017-11-28 04:27] parallelo commented on #41
Hi @MyAusweis,

Taking a step back, we should first ensure that you have a working ROCm installation.  Are you able to run any of the HIP samples?  E.g. :
[code]

Best,

Jeff

[2017-11-28 08:05] MyAusweis commented on #41
Here the result

cd /tmp && cp -r /opt/rocm/hip/samples/0_Intro/square . && cd square
user@user-Lenovo-G50-80:/tmp/square$ make clean && make
rm -f *.o *.out
/opt/rocm/hip/bin/hipcc  square.hipref.cpp -o square.hip.out
Can't exec "/usr/local/cuda/bin/nvcc": No such file or directory at /opt/rocm/hip/bin/hipcc line 498.
Died at /opt/rocm/hip/bin/hipcc line 498.
Makefile:14: recipe for target 'squar

[2017-11-28 18:22] parallelo commented on #41
Hi @MyAusweis,

It looks like you don't have a functional ROCm installation.

Can you please follow the details on the ROCm site?  https://github.com/RadeonOpenCompute/ROCm

(E.g. ensure that `rocm` and `rocm-dev` are installed, and then verify that you can build & run HIP samples)

Keep us posted.

Best,

Jeff

[2017-11-28 23:07] MyAusweis commented on #41
user@user-Lenovo-G50-80:/tmp/square$ /opt/rocm/bin/hipconfig --full
HIP version  : 1.3.17385

== hipconfig
HIP_PATH     : /opt/rocm
HIP_PLATFORM : nvcc
CPP_CONFIG   :  -D__HIP_PLATFORM_NVCC__=  -I/opt/rocm/include -I/usr/local/cuda/include

== nvcc
Can't exec "nvcc": No such file or directory at /opt/rocm/bin/hipconfig line 143.

=== Environment Variables
PATH=/home/user/bin:/home/user/.local/bin:

[2017-11-28 23:27] parallelo commented on #41
Hi @MyAusweis,

Based on the output from `hipconfig`, it looks like your ROCm installation isn't set up correctly.  It isn't detecting a ROCm platform.

Have you visited the ROCm GitHub site?  https://github.com/RadeonOpenCompute/ROCm

Based on the information on that page, is your target GPU supported?  Did you hit any errors when following that page's installation process?

Best,

Jeff

[2017-11-29 00:13] MyAusweis commented on #41
how to verify it ? that my laptop support it

user@user-Lenovo-G50-80:/opt/rocm/hsa/sample$ uname -r
4.11.0-kfd-compute-rocm-rel-1.6-180

user@user-Lenovo-G50-80:/opt/rocm/hsa/sample$ ./vector_copy
Initializing the hsa runtime succeeded.
Checking finalizer 1.0 extension support succeeded.
Generating function table for finalizer succeeded.
Getting a gpu agent failed.

in lenovo g50-80 i7 5500 using

[2017-11-29 14:16] whchung commented on #41
@MyAusweis unfortunately since you are running on a laptop, your hardware is not supported by ROCm. please refer to:

https://rocm.github.io/hardware.html

for supported hardware.

[2017-11-29 14:16] #41 closed

[2017-11-30 18:36] parallelo commented on #39
Hi @NiftyGrimoire,

Specifically for machine intelligence workloads, we recommend switching away from the amdgpu-pro drivers.  At this point, you'll need the ROCm stack for TF support as shown in the documentation.  We'll also update the TF documentation to explicitly state this requirement.

Please uninstall amdgpu-pro and follow the ROCm installation instructions here:  https://rocm.github.io/in

[2017-11-30 18:52] parallelo commented on #38
Hi @nisseb,

We noticed that you are using amdgpu-pro. For machine intelligence applications, we provide support via the ROCm stack.  While our TF documentation discusses how to install ROCm, it probably wasn't explicit enough on this specific point, and we'll fix that.

Some suggested steps:

1. Uninstall amdgpu-pro
2. Then, install ROCm and hipTF via:  https://github.com/ROCmSoftwarePlatform/hip

[2017-12-04 07:38] NiftyGrimoire commented on #39
Oops, apologies for that. Thank you for the advice. I'll will try that now. Been unable to test the devel branch I'm afraid. Time to test with TF has been spotty recently.

[2017-12-11 15:53] parallelo commented on #39
Hi @NiftyGrimoire - Any luck?  (Your statement regarding containers was correct: you'll need to install the ROCm drivers on the host, and then the user-level components and the thunk inside the container)

[2017-12-19 19:25] MichaelMcCulloch opened #43 "HCC RUNTIME ERROR: Fail to find compatible kernel"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
[StackOverflow](https://stackoverflow.com/questions/47421290/hcc-runtime-error-when-trying-to-run-hiptensorflow-ubuntu-16-04-r9-290)
[GitHub](https://github.com/ROCmSoftwarePlatform/hipCaffe/issues/7)

### Environment info
Operating System:
Ubuntu 16.04.3 4.11.0-kfd-compute-rocm-rel-1.6-18

[2017-12-19 19:32] whchung commented on #43
@MichaelMcCulloch unfortunately R9 290X x2 is not in the supported hardware list ( https://rocm.github.io/hardware.html ) . Please consider get a compatible AMD GPU from the list to test hipTensorFlow.

[2017-12-19 19:32] #43 closed

[2017-12-19 22:26] MichaelMcCulloch commented on #43
Ok thank you. Are there currently any plans to support Hawaii hardware? I ask only because support for Hawaii seemed to be added added in 1.2 IIRC, and is still mentioned in the 1.7 readme [here](https://github.com/RadeonOpenCompute/ROCm)

[2017-12-19 23:56] whchung commented on #43
We do have limited support for Hawaii in ROCm stack for certain applications, but not in the plan for machine learning related applications.

[2017-12-30 16:20] tonysung opened #44 "Support macOS"
Please support macOS because all of it comes with Radeon GPUs.

[2018-01-02 22:18] ArlasJ opened #45 "LD Library Path"
Hello I am using a vega 64 graphic card on a debian linux machine.
Everytime I try to run tf I get following error:
[code]

Can you help me?

Best regards,
Justin J.

[2018-01-02 22:39] sunway513 commented on #45
Hi @ArlasJ ,
Could you provide more information on your setup? ROCm1.6.4 or ROCm1.7?

[2018-01-03 00:00] ArlasJ commented on #45
It is ROCm 1.7.
Tried it with 4.15rc6 kernel cause of vega64 support.

[2018-01-03 10:11] ws0zzg4569 opened #46 "Encounter an opencl error while running MINST example"
Happy new year every one.
I'm new to ROCm and just want to configure the hiptf with my rx480, I followed the instruction of this [basic install guide](https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/rocm_docs/tensorflow-install-basic.md), but got the following opencl error while running the MNIST example, search around and no idea how to solve this. Are there any one can help? Appre

[2018-01-03 12:32] ArlasJ commented on #45
I solved the issue with I tensorflow/stream_executor/dso_loader.cc:130] Couldn't open CUDA library libMIOpen.so. LD_LIBRARY_PATH:

with reference to issue #35

But libhiprng.so still remains.

[2018-01-03 15:16] ArlasJ commented on #45
I think I found the problem,

I tried this one:
sudo modprobe -v amd-rng
insmod /lib/modules/4.15.0-rc6-custom/kernel/drivers/char/hw_random/amd-rng.ko
modprobe: ERROR: could not insert 'amd_rng': No such device

the module can't find a device. I try to fix that.

[2018-01-03 17:12] ws0zzg4569 commented on #46
Seems to be the driver issue.

I try to reinstall a fresh ubuntu16.04, and redo all the steps, the GPU device can not found. seems forget the driver, but when install driver I got a low graphic BUG, can not display any GUI...no idea how to fix. Then I reinstall the Ubuntu 16.04 again, and Install amdgpu-pro (latest 17.50 for now, 16 will encounter a low graphic bug), then follow the step.

After t

[2018-01-03 17:21] whchung commented on #46
@ws0zzg4569 I'd like to ask @sunway513 to help you on the driver issue. But perhaps you can use the docker image ( https://hub.docker.com/r/rocm/hiptensorflow/ ) to begin faster.

For Python API issue, `hiptensorflow` is based on TensorFlow 1.0.1 so there might be changes in Python API. We are working on getting it upgraded to be in sync with tip of TensorFlow and would publish new releases soon.

[2018-01-03 17:47] ws0zzg4569 commented on #46
@whchung thanks! I think if it's the tensorflow api problem,  we can close it, the MINST now can run on the GPU smoothly. I'll try to modify the code of other example and check my set up.
Really glad I don't need to buy a Nvdia card....

[2018-01-03 17:47] #46 closed

[2018-01-03 18:14] ArlasJ commented on #45
sudo ln -s libhiprand.so libhiprng.so

this works... I don't know if this solution is correct?

[2018-01-03 18:19] sunway513 commented on #45
Hi, hipTF requires hcRNG library, but it's not included in ROCm1.7 release -- we'll fix it.
In the meanwhile, please use the following command to build and install it from source: git clone ```
https://github.com/ROCmSoftwarePlatform/hcRNG.git ~/hcrng
cd ~/hcrng && bash build.sh && sudo dpkg -i ~/hcrng/build/*.deb
[code]

[2018-01-03 18:19] #45 closed

[2018-01-03 21:21] Dekken opened #47 "tensorflow examples 'killed'"
After updating to latest ROCM (1.7?)

Running the python examples results in nothing but

```Killed```

Debian 9 / VEGA Liquid RX

Happy to facilitate

[2018-01-03 21:23] sunway513 commented on #47
Hi Dekken, did you use the last public docker image? If so, that's because we have not released the ROCm1.7 docker image yet -- will be ready today and let you know.

[2018-01-03 21:34] Dekken commented on #47
Hi @sunway513

I had tested the previous docker image and it was fine, but I'm hoping to get this working natively as I'm not all that fond (familiar) with docker.

cheers

[2018-01-03 21:49] sunway513 commented on #47
Thanks for the additional info. We'll also update the hipTF pip package to work with the ROCm1.7 environment. In the meanwhile, you can try to build it from source, follow the instructions starting [here](https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/rocm_docs/tensorflow-build-from-source.md#install-required-python-packages).

[2018-01-03 21:50] Dekken commented on #47
will do, is there a doc on released versions that gets updated?

[2018-01-03 21:50] #47 closed

[2018-01-03 21:53] sunway513 commented on #47
you should be able to find the update notes from each of the ROCm component's github repository.
But the biggest change for ROCm1.7 overall is that we change to use DKMS based KFD.

[2018-01-05 13:40] Dekken opened #48 "Tensorflow For Poets fails"
Using the current docker image, and trying to following the examples [here](https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/index.html)

results in

[code]

I've tested this separately on Debian 9 with CUDA/Nvidia 1080 and it's fine there.

[2018-01-08 09:31] ws0zzg4569 opened #49 "Some hidden function missing when call "tf.tensordot()""
Hi,all:

I'm encounter a strange problem when calling "tensordot()" function to get dot product of of a variable and tensor.

I tensorflow/stream_executor/dso_loader.cc:139] successfully opened CUDA library libhipfft.so locally
I tensorflow/stream_executor/dso_loader.cc:139] successfully opened CUDA library libhip_hcc.so locally
I tensorflow/stream_executor/dso_loader.cc:139] successfully opened C

[2018-01-08 09:42] #49 closed

[2018-01-11 03:44] catsdogone opened #50 "unpinned copy engine error of ROCm 1.7/hiptensorflow1.0.1"
### Environment info
Operating System: Ubuntu 16.04.3
Installed version ROCm:  1.7 (hiptensorflow:rocm1.7-public-v4)
tensorflow/models:
  git clone https://github.com/tensorflow/models.git
  git revert --no-commit a2b2088c52635b86f4a2ac70391118b9419b3c55
  cd models/tutorials/image/cifar10

  **unpinned copy engine error** when run:
  python cifar10_multi_gpu_train.py --num_gpus=4 --batch_size 8

[2018-01-11 18:14] parallelo commented on #50
Hi @catsdogone,

We've seen a similar issue previously with hipCaffe.  And if I remember correctly, we resolved it by moving from hcRNG to rocRAND.

Can you please try this workaround to see if it has an effect?
[code]

Thanks,

Jeff

[2018-01-11 22:31] Dekken opened #51 "docker image includes python3 tensorflow"
Is this done, or in the pipeline?

[2018-01-11 22:41] whchung commented on #51
Right now the plan is to:
- publish releases to keep up with newer version of TensorFlow (1.3 , 1.4, and upcoming 1.5)
- enable XLA path
- enable RNN / LSTM / half precision CNN kernels in MIOpen
- containers for distros other than Ubuntu

[2018-01-11 22:41] #51 closed

[2018-01-11 22:45] Dekken commented on #51
I'm not sure this answers my question, I'm referring to PYTHON 3 version of tensorflow, not any particular version of tensorflow

[2018-01-11 22:47] Dekken commented on #51
As you can see at this link: https://pypi.python.org/pypi/tensorflow/1.3.0

tensorflow 1.3 - is released for multiple versions of python

[2018-01-11 22:57] Dekken opened #52 "#51 is not answered"
I am asking about python3 tensorflow - which is not available in the docker image

https://github.com/ROCmSoftwarePlatform/hiptensorflow/issues/51

[2018-01-13 19:21] Dekken commented on #52
running

```pip3 install tensorflow-gpu```

Seems to work out of the box - will report any issues I run into

[2018-01-13 19:21] #52 closed

[2018-01-17 22:05] Dekken opened #53 "Support for Hawaii"
Is there to be support expected for cards such as the R9 390?

Thanks

[2018-01-17 22:06] whchung commented on #53
The only supported hardware is GFX IP 8 (Fiji) and GFX IP 9 (Vega). GFX IP 7 (Hawaii) won't be supported.

[2018-01-17 22:06] #53 closed

[2018-01-18 08:56] Dekken commented on #53
Can you provide a technical reason?

I feel very stupid for investing in AMD hardware now.

The marketing employed I believe is highly suspect. Obviously it's my own fault for not investigating well enough, but one would IMAGINE that the 390 would be the same architecture as the 380, and just a better version, but no.

[2018-01-18 13:57] whchung commented on #53
It's possible to build and run `HIP` / `HCC` applications on GFXIP7 (Hawaii). But not for `hiptensorflow`. Two dependent libraries, `Tensile` / `MIOpen` come with heavily tuned GCN ISA assembly kernels. And they only come with kernels for GFXIP8 (Fiji) and GFXIP9 (Vega).

[2018-01-19 00:11] tingxingdong commented on #53
@Dekken  You may want to read this
https://github.com/RadeonOpenCompute/ROCm

[2018-01-19 09:03] Dekken commented on #53
@tingxingdong Thanks I'm aware GCN 2 is missing support for atomics - I was hoping for some workaround

[2018-01-19 15:10] Dekken opened #54 "Intermittent hanging in docker image"
Hi there,

Using the docker image along with Keras and [this](https://blog.keras.io/building-powerful-image-classification-models-using-very-little-data.html) example.

Occasionally a process will hang after starting, and then become *unkillable* and require a complete restart in order to continue to use docker.

[code]

I understand this could be docker problem, thought I'd FYI though

System inf

[2018-01-19 15:25] Dekken commented on #54
I just tried on the host with MNIST convolution.py and it happens there too.

I'd like to add that I have to *force* a shutdown as just calling ``sudo reboot now``` hangs indefinitely

[2018-01-19 15:42] Dekken commented on #54
[strace of hanging process](https://gist.github.com/Dekken/91dd4adafa24d75b50bfbdb8b698b6f7)

[2018-01-20 13:57] ShrekVoid opened #55 "Windows AMD gpu support?"
Does it support AMD GPUs on windows?
The installation guide only specifies how to install on linux systems..
Could someone point me to a guide on windows?

[2018-01-20 14:30] gstoner commented on #55
It currently does not run on Windows Hip currently is not on Windows

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ShrekVoid <notifications@github.com>
Sent: Saturday, January 20, 2018 7:57:23 AM
To: ROCmSoftwarePlatform/hiptensorflow
Cc: Subscribed
Subject: [ROCmSoftwarePlatform/hiptensorflow] Windows AMD gpu support? (#55)

Does it support AMD GPUs on windows

[2018-01-20 23:36] flowpoint opened #56 "mlo_dir_conv.cpp:136 no solution found miopen exception"
[code]
or
[code]

when running: [fast-wavenet](https://github.com/tomlepaine/fast-wavenet.git) [demo.ipynb](https://github.com/tomlepaine/fast-wavenet/blob/master/demo.ipynb)
or this script:
[code]

### Operating System:
rocm ubuntu installation according to [readme](https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/rocm_docs/tensorflow-install-basic.md) (31bcbf8c8c79bc55320dd39e2f79c

[2018-01-21 12:26] evg-tyurin opened #57 "GPU utilization, memory consumption and temperature monitoring"
I've started from clean Ubuntu 16.04 and completed "Basic installation" steps from the README. I run example programs and see that Tensorflow uses my GPU, that's ok.

What tool I can use to monitor GPU utilization, memory consumption and temperature? As I read from other issues I should not install additional GPU drivers which may be required by a monitoring tool.

I have RX480.

Thank you.

[2018-01-21 22:30] sunway513 commented on #57
Hi @evg-tyurin , you can use rocm-smi located under `/opt/rocm/bin` to monitor the temperature and some other information, see doc [here](https://github.com/RadeonOpenCompute/ROC-smi).
We don't currently offer to monitor of GPU utilization or memory occupancy.

[2018-01-21 22:30] #57 closed

[2018-01-22 21:20] pfultz2 commented on #56
Can you run this with `MIOPEN_ENABLE_LOGGING=1` to see which configuration?

[2018-01-23 16:41] flowpoint commented on #56
with MIOPEN_ENABLE_LOGGING=1:
[code]

[2018-01-24 23:53] mmmmming18 opened #58 "Couldn't open CUDA library libMIOpen.so"
I tensorflow/stream_executor/dso_loader.cc:139] successfully opened CUDA library libhipblas.so locally
I tensorflow/stream_executor/dso_loader.cc:139] successfully opened CUDA library libhipfft.so locally
I tensorflow/stream_executor/dso_loader.cc:139] successfully opened CUDA library libhip_hcc.so locally
I tensorflow/stream_executor/dso_loader.cc:139] successfully opened CUDA library libhiprng.s

[2018-01-25 00:21] #58 closed

[2018-01-25 05:17] mmmmming18 commented on #28
Hi everyone, I got the same error with my Vega FE. I am running on Ubuntu 16.04.

/opt/rocm/bin/hipconfig

HIP version  : 1.4.17494

== hipconfig
HIP_PATH     : /opt/rocm/hip
HIP_PLATFORM : hcc
CPP_CONFIG   :  -D__HIP_PLATFORM_HCC__=   -I/opt/rocm/hip/include -I/opt/rocm/hcc/include

== hcc
HSA_PATH     : /opt/rocm/hsa
HCC_HOME     : /opt/rocm/hcc
HCC clang version 6.0.0 (ssh://gerritgit/compute/e

[2018-01-25 05:49] whchung commented on #28
@mmmmming18 could you verify if you have followed steps at https://github.com/RadeonOpenCompute/ROCm to get ROCm stack properly installed, and can verify the installation building `/opt/rocm/hsa/sample` and run `vector_copy` inside it.

[2018-01-25 06:38] mmmmming18 commented on #28
Thanks for your help!

/opt/rocm/hsa/sample$ sudo make
gcc -c -I/opt/rocm/include -o vector_copy.o vector_copy.c -std=c99
gcc -Wl,--unresolved-symbols=ignore-in-shared-libs vector_copy.o -L/opt/rocm/lib -lhsa-runtime64 -o vector_copy

/opt/rocm/hsa/sample$ ./vector_copy
Initializing the hsa runtime succeeded.
Checking finalizer 1.0 extension support succeeded.
Generating function table for finaliz

[2018-01-25 06:55] mmmmming18 commented on #28
Python 2.7.12 (default, Dec  4 2017, 14:50:18)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python import *
  File "/usr/local/lib/python2.7/dist-packages/t

[2018-01-25 16:31] whchung commented on #28
@mmmmming18 could raise another ticket. From the look of your log it seems it's version mismatch between ROCm stack and TensorFlow binary package.

@sunway513 could you share the public container image for 1.7?

[2018-01-25 16:39] sunway513 commented on #28
@whchung , sure, will do.

[2018-01-25 18:04] mmmmming18 opened #59 "version mismatch between ROCm stack and TensorFlow binary package"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python import *
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/__init__.py", line 72, in <module>
    raise ImportError(msg)
ImportError: Traceback (most recent call last):
  File "/usr/local/lib/

[2018-01-25 18:06] whchung commented on #59
@mmmmming18 to help better understand the issue, please help explain your system configuration:

- your hardware configuration
- how did you install ROCm stack
- output of `/opt/rocm/hsa/sample/vector_copy`
- how did you install hiptensorflow

[2018-01-26 00:38] mmmmming18 commented on #59
@whchung Hi, I re-installed everything in a cleaned system and tensorflow works now. Thank you for your hard work!

[2018-01-26 00:38] #59 closed

[2018-01-26 01:29] mmmmming18 opened #60 "Memory access fault by GPU node-1 on address 0x1e4000. Reason: Page not present or supervisor privilege."
I was training ResNet training on CIFAR-10 data and I got this error.

INFO:tensorflow:loss = 1.35363, step = 501, precision = 0.609375
INFO:tensorflow:global_step/sec: 1.63348
INFO:tensorflow:loss = 1.16574, step = 601, precision = 0.671875
INFO:tensorflow:global_step/sec: 1.63298
INFO:tensorflow:loss = 1.14607, step = 701, precision = 0.679688
INFO:tensorflow:global_step/sec: 1.63824
INFO:tensor

[2018-01-26 02:30] parallelo commented on #60
Hi @mmmmming18,

Can you give more details on your system setup?

Thanks,

Jeff

[2018-01-26 03:37] parallelo commented on #60
Hello again @mmmmming18,

On a Vega machine with ROCm 1.7 installed, we were able to train ResNet on CIFAR-10 data.

We've got a couple known workarounds that may be useful for you.  These will be included in an upcoming release.  Anyway, we want you to be able to make progress in the meantime, so here they are:
[code]

Please give this a try and let us know how it goes.

Here's an example of the

[2018-01-26 03:48] Yurail commented on #60
my system has 1950x + vega fe *3

2018-01-26 12:37 GMT+09:00 Jeff Poznanovic <notifications@github.com>:

[2018-01-26 07:29] yige-hu opened #61 "convnet-benchmarks: Illegal instruction (core dumped)"
Operating System: Ubuntu 16.04.3 LTS, Linux kernel 4.13.0
GPU: AMD RX 580
ROCm backend.

I installed hipTensorflow from the source, following the steps in:
https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/rocm_docs/tensorflow-build-from-source.md
The commit hash of hipTensorflow: 28243d43a933eefbd1b4a413a74677939cc74aa2
Bazel version: 0.4.5

I'm trying to run alexNet benchmark from c

[2018-01-26 07:40] yige-hu opened #62 "mnist.py: failed to allocate 8.00G from device: hipError_t(1002)"
Operating System: Ubuntu 16.04.3 LTS, Linux kernel 4.13.0
GPU: AMD RX 580, 8GB memory
ROCm backend.

I installed hipTensorflow from the source, following the steps in:
https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/rocm_docs/tensorflow-build-from-source.md
The commit hash of hipTensorflow: 28243d4
Bazel version: 0.4.5

Then, I tried to run the mnist.py in hiptensorflow examples:
ht

[2018-01-26 13:51] whchung commented on #62
@yige-hu could you try reduce batch size?

[2018-01-26 14:06] Dekken commented on #54
This was probably down to an inconsistent system setup.

[2018-01-26 14:06] #54 closed

[2018-01-26 14:09] Dekken commented on #28
I'm seeing this on a VEGA RX 64 https://github.com/RadeonOpenCompute/ROCm-docker/issues/32

hsa/vector_copy builds and runs without failure

[2018-01-26 16:04] parallelo commented on #60
@mmmmming18 - Any luck trying the suggested workaround?

[2018-01-26 16:07] parallelo commented on #61
Hi @yige-hu,

Which version of ROCm are you using?  1.6.x or 1.7?

Best,

Jeff

[2018-01-26 16:23] mmmmming18 commented on #60
@parallelo Sorry parallelo,

we tried to install "tensorflow_gpu-1.head-cp27-cp27mu-linux_x86_64.whl" version but it didn't work out. Then, no matter how we re-install the original version, TF is always giving the same error.

import tensorflow as tf
Traceback (most recent call last):
File "", line 1, in
File "/usr/local/lib/python2.7/dist-packages/tensorflow/init.py", line 24, in
from tensorflow.

[2018-01-26 16:27] Dekken opened #63 "There is no device can be used to do the computation"
Docker Tensorflow ROCm mistatch

@sunway513 is going to release 1.7 to dockerhub?

[2018-01-26 16:31] parallelo commented on #60
Does this help?
[code]

And can you confirm this link is valid?
[code]

[2018-01-26 19:08] yige-hu commented on #61
@parallelo

Version: 1.7.60

Thanks in advance for your help!

[2018-01-26 19:26] Dekken commented on #45
I'm hitting this now, is hiprng available from the apt repo?

trying to build hcRNG has compile errors

[code]

[2018-01-26 19:28] Dekken opened #64 "hcRNG missing"
System: debian 9
GPU: VEGA FE
Kernel: 4.9

Similar to https://github.com/ROCmSoftwarePlatform/hiptensorflow/issues/45

hiprng does not exist on apt or is not referenced from any other package that I have

Attempting to build it from source has compile errors

[code]

[2018-01-26 19:29] Dekken commented on #64
Has the whl file been updated for ROCm 1.7?

[2018-01-26 19:37] Dekken commented on #58
I'm experiencing this, what was your solution?

[2018-01-26 20:32] gstoner commented on #64
It been replaced by hipRNG.

Greg

[2018-01-26 20:35] gstoner commented on #45
https://github.com/ROCmSoftwarePlatform/rocRAND

[2018-01-26 20:38] gstoner commented on #64
Sorry rocRAND https://github.com/ROCmSoftwarePlatform/rocRAND

[2018-01-26 20:41] sunway513 commented on #64
@Dekken , we're working on the update pip packages, stay tuned.
Your issue in the ticket seems related to your environment -- hipcc can not find AMD GPU.
Can you make sure the smaller ROCm samples can work fine in the same environment?

[2018-01-26 20:45] Dekken commented on #45
reinstalling from apt hipblas appears to have solved my hiprng problem, I already had rocrand installed.

[2018-01-26 20:46] Dekken commented on #64
[code]

[2018-01-26 20:47] Dekken commented on #64
hipcc does not exist

[2018-01-26 20:47] Dekken commented on #64
[code]

[2018-01-26 20:49] sunway513 commented on #64
What do you mean by hipcc does not exist?
Plz try to set up the system PATH: `export PATH=$PATH:/opt/rocm/bin`

[2018-01-26 20:51] Dekken commented on #64
this has been resolved by forced reinstalling hipblas.

[2018-01-26 20:51] Dekken commented on #64
however I still appear to be missing libMIOpen.so

even though I can see it in directory

[2018-01-26 21:25] #64 closed

[2018-01-26 21:26] Dekken opened #65 "libMIOpen.so missing"
the library is there, but running mnist/convolution.py fails to find it

[code]

[2018-01-26 21:33] sunway513 commented on #65
MIOpen library is not configured properly, you can try the following steps to rebuild it from source:
`cd ~ && git clone https://github.com/RadeonOpenCompute/rocm-cmake.git && cd ~/rocm-cmake && mkdir -p build && cd build && cmake .. && cmake --build . --target install
cd ~ && git clone https://github.com/RadeonOpenCompute/clang-ocl.git && cd ~/clang-ocl && mkdir -p build && cd build && cmake .. &

[2018-01-26 21:52] Dekken commented on #65
thanks but if fails

[2018-01-26 21:53] sunway513 commented on #65
what's the failure signature?

[2018-01-26 21:55] Dekken commented on #65
I think it's syntactically incorrect.  there's some missing "&&" and a few random extra \\

[code]

[2018-01-26 21:57] Dekken commented on #65
resolving this

[code]

this is the output

[2018-01-26 21:59] sunway513 commented on #65
Plz try my original posted steps again (I've cleaned it a bit), thanks.

[2018-01-26 22:05] Dekken commented on #65
Excellent thank you - this has fixed it.

[2018-01-26 22:05] #65 closed

[2018-01-26 22:06] sunway513 commented on #65
Thanks, great news :-)

[2018-01-26 22:15] yige-hu commented on #62
@whchung
For hiptensorflow/tensorflow/examples/learn/mnist.py, even after reducing the batch_size=1 in the script, I'm still getting the error message. I doubt if it's an hipTF implementation error, since it's allocating a memory buffer size equals to the total memory (8 GB), which is greater than the free memory (7.75 GB):

Free memory: 7.75GiB

With the mnist.py from https://github.com/tensorflo

[2018-01-26 23:12] mmmmming18 commented on #60
@parallelo Hello,

We've got a couple known workarounds that may be useful for you. These will be included in an upcoming release. Anyway, we want you to be able to make progress in the meantime, so here they are:
sudo sh -c 'echo "options amdkfd noretry=0"        >> /etc/modprobe.d/amdkfd.conf'
sudo sh -c 'echo "options amdgpu vm_update_mode=0" >> /etc/modprobe.d/amdgpu.conf'
sudo update-initramf

[2018-01-26 23:15] mmmmming18 commented on #58
@Dekken I didn't remove the cuda related env variables at first. After cleaning the os, everything works fine.

[2018-01-26 23:28] mmmmming18 commented on #60
/opt/rocm/bin/hipconfig
HIP version  : 1.4.17494

== hipconfig
HIP_PATH     : /opt/rocm/hip
HIP_PLATFORM : hcc
CPP_CONFIG   :  -D__HIP_PLATFORM_HCC__=   -I/opt/rocm/hip/include -I/opt/rocm/hcc/include

== hcc
HSA_PATH     : /opt/rocm/hsa
HCC_HOME     : /opt/rocm/hcc
HCC clang version 6.0.0 (ssh://gerritgit/compute/ec/hcc-tot/clang 42ceed861a212d9bd0aef883ee7981144f3ecc02) (ssh://gerritgit/compute/

[2018-01-26 23:53] parallelo commented on #60
Please try another reboot and then see if you can build/run the following two HIP samples:
[code]
Also, can you check whether the ROCm-related kernel modules are loaded?
[code]

[2018-01-26 23:57] parallelo commented on #61
Hi @yige-hu,

Are you able to build & run these two HIP samples?
[code]

Let's try some smaller tests to find where the culprit is.

Thanks,

Jeff

[2018-01-27 00:40] yige-hu commented on #61
Hi Jeff, @parallelo

Yes, I can build & run the two HIP samples. Besides, I can also run the linear regression example I copied from the [Tensorflow Get Started](https://www.tensorflow.org/get_started/get_started) page:

`import tensorflow as tf
#from tensorflow.python import debug as tf_debug

tf.logging.set_verbosity(3)

# Model parameters
W = tf.Variable([.3], dtype=tf.float32)
b = tf.Variable(

[2018-01-28 02:55] mmmmming18 commented on #60
@parallelo
lsmod | grep -E 'amdkfd|amdgpu'

amdkfd                221184  1
amd_iommu_v2           20480  1 amdkfd
amdgpu               3076096  2
amdttm                102400  1 amdgpu
amdkcl                 24576  3 amdttm,amdgpu,amdkfd
drm_kms_helper        151552  1 amdgpu
drm                   352256  6 amdttm,amdgpu,amdkcl,drm_kms_helper
i2c_algo_bit           16384  2 igb,amdgpu

[2018-01-28 03:11] mmmmming18 commented on #60
/opt/rocm/hip/samples/0_Intro/square$ export PATH=$PATH:/opt/rocm/hip/bin
/opt/rocm/hip/samples/0_Intro/square$ sudo hipify square.cu > square.cpp
-bash: square.cpp: Permission denied

What did I miss...

[2018-01-28 03:12] parallelo commented on #60
Perhaps try copying the `hip/samples` directory under your `$HOME` directory.

[2018-01-28 03:22] mmmmming18 commented on #60
hipify: command not found

[2018-01-28 03:23] parallelo commented on #60
Assuming you've got `hip` installed correctly:  `/opt/rocm/bin/hipify`

[2018-01-28 03:27] mmmmming18 commented on #60
It seems not... sorry
/opt/rocm/bin$ ls
amdhsacod     clang-ocl      finduncodep.sh  hccgenco.sh                hipconfig                  hipdemangleatp      hipify-cmakefile        rocm_agent_enumerator  rocm-smi
amdhsafin     extractkernel  hcc             hipcc                      hipconvertinplace-perl.sh  hipexamine-perl.sh  hipify-perl             rocminfo
clamp-config  findcode.sh    hcc-

[2018-01-28 03:28] parallelo commented on #60
[code]

[2018-01-28 03:28] parallelo commented on #60
[code]

[2018-01-28 03:34] mmmmming18 commented on #60
make
/opt/rocm/hip/bin/hipcc  square.hipref.cpp -o square.hip.out

ls
Makefile  README.md  square.cpp  square.cu  square.hip.out  square.hipref.cpp

 ./square.hip.out
There is no device can be used to do the computation

[2018-01-28 03:40] parallelo commented on #60
How about the following?
[code]

[2018-01-28 04:26] mmmmming18 commented on #60
/opt/rocm/hip/samples/1_Utils/hipInfo$ sudo make
/opt/rocm/hip/bin/hipcc hipInfo.cpp -o hipInfo
cp hipInfo /opt/rocm/hip/bin

/opt/rocm/hip/samples/1_Utils/hipInfo$ ./hipInfo
compiler: hcc version=1.1.17493-2f85d8a-42ceed8-23e086b, workweek (YYWWD) = 17493
There is no device can be used to do the computation

[2018-01-28 15:45] parallelo commented on #60
@jedwards-AMD - Any thoughts on next steps?  (`There is no device can be used to do the computation`)

ROCm kernel modules appear to be loaded fine on that system:

[2018-01-28 18:22] jedwards-AMD commented on #60
Has this machine ever worked? Lets get the output of these commands:
.
dmesg | grep amdkfd
dmesg | grep amdgu
.
This will show me if the device is registered and if atomic support is available.

[2018-01-29 02:06] mmmmming18 commented on #60
@jedwards-AMD Hello, both commands give empty output.

This machine worked before. The first time I installed hiptensorflow the model was able to start training at least. This is my second time I installed hiptensorflow in a cleaned os and I just did some additional steps which are the commands that parallelo suggested:

[2018-01-29 16:23] jedwards-AMD commented on #60
Does rocminfo give any output? This command works at the base interface level, so it should show if you even have a device.

[2018-01-29 18:52] mmmmming18 commented on #60
`sudo usermod -a -G video $LOGNAME`

@jedwards-AMD This command solves everything.

@parallelo Now I am able to train ResNet on CIFAR-10 data without any error. Thanks very much.

When can we expect new release? Does new release support newest version of tensorflow?

[2018-01-30 00:05] yige-hu commented on #61
Hi Jeff @parallelo ,

Any follow up on this? Did you reproduce the issue? Or are there any bazel tests you suggest me doing?

Thanks,
Yige

[2018-01-30 07:28] yige-hu commented on #61
Some more information. With gdb python, I got

[code]

Looking like the error happened when generating some random values.

Thanks,
Yige

[2018-01-30 15:20] flowpoint commented on #56
do you need more/other information?

[2018-01-30 15:44] pfultz2 commented on #56
Do you have MIOpenGEMM installed? I believe this configuration requires gemm.

[2018-01-30 16:32] flowpoint commented on #56
yes version 1.1.5-3c3145b as package

[2018-01-30 21:00] yige-hu commented on #61
Hey Jeff @parallelo ,

I'm actually doubting that it's related to [issue #343](https://github.com/ROCm-Developer-Tools/HIP/issues/343) in ROCm-Developer-Tools/HIP. I modified
`/opt/rocm/hip/include/hip/hcc_detail/hip_runtime.h`
in order to make hipTensorflow compile. Otherwise, there is an API mismatch, making hipTensorflow unable to build successfully.

I think it worth trying if you can provide

[2018-01-31 02:24] parallelo commented on #61
Hi @yige-hu,

We're working on a solution that probably will help with this issue.  Stay tuned.

Best,

Jeff

[2018-01-31 02:25] parallelo commented on #60
Yes, that makes sense.  Happy to hear it is working now.

[2018-01-31 02:25] #60 closed

[2018-01-31 10:20] ArlasJ opened #66 "libCXLActivityLogger"
Hello everyone time I try to import tensorflow now. Following error appears:
ImportError: libCXLActivityLogger.so: cannot open shared object file: No such file or directory

[2018-01-31 14:58] ArlasJ commented on #66
found out that i forgot to install cxlactivitylogger from rocm repo.

[2018-01-31 14:58] #66 closed

[2018-02-05 03:42] Frenchie-Juice commented on #63
Having the same error message after going through all the procedure to install hiptensorflow on Ubuntu 16.04 on a MacBook Pro.
There is a Radeon GPU in there, so why is it not recognized by the ROCm stack ??

[2018-02-05 08:44] Dekken commented on #63
It's a mismatch I believe between host rocm and docker version expected

docker version is 1.6.x

[2018-02-11 16:58] evg-tyurin commented on #62
I had similar warning on RX480.

At first,
Total memory: 8.00GiB
Free memory: 7.75GiB

Then,
failed to allocate 7.36G

Then script continued and Tensorflow successfully recreated the device. After few experiments desktop stop responding and I've restarted the computer. After restart, all is OK without any warnings.

[2018-02-12 16:47] Sumenia opened #67 "hiptensorflow build fails"
i followed every step from `tensorflow-build-from-source.md` with a freshly installed Ubuntu 16.04.3 but i keep getting this error when building hiptensorflow

ERROR: /home/sumenia/hiptensorflow/tensorflow/contrib/framework/BUILD:60:1: undeclared inclusion(s) in rule '//tensorflow/contrib/framework:python/ops/_variable_ops_gpu':
this rule is missing dependency declarations for the following files

[2018-02-12 16:50] sunway513 commented on #67
@Sumenia , plz add the three lines in the following file:
hiptensorflow/blob/third_party/gpus/crosstool/CROSSTOOL.tpl#L138

[code]
Then try to configure and rebuild.

[2018-02-12 16:51] whchung commented on #67
@Sumenia could you try change the following lines:

https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/third_party/gpus/crosstool/CROSSTOOL.tpl#L136

and add the following lines:

[code]

[2018-02-12 17:54] Sumenia commented on #67
thank you both of you for the quick answer !

However, this is still not working 😞 i get new type of errors ....

I confirm that all hip sample are working perfectly.

this seems the same problem : https://github.com/ROCm-Developer-Tools/HIP/issues/343

do you confirm that current HIP runtime API is incompatible with hiptensorflow ?

tensorflow/core/kernels/segment_reduction_ops_gpu.cu.cc:70:5: er

[2018-02-12 17:59] sunway513 commented on #67
Could you try to cherry-pick the following commit?
`git cherry-pick 417dfce2180a49e1bbe38db10025b5da4101c153`

[2018-02-12 18:30] Sumenia commented on #67
awesome, this is working ! thank you for your help
should i commit and PR those modification ?

[2018-02-12 18:42] sunway513 commented on #67
Great! Please submit a PR to the `hip-develop` branch, appreciate your contributions!

[2018-02-12 18:42] #67 closed

[2018-02-12 19:46] Sumenia commented on #62
same here with AMD Vega 56

[2018-02-12 20:02] Sumenia commented on #67
i don`t know if its related to the modification i had to do i order to compile but none convnet-benchmarks works.

benchmark_alexnet.py / benchmark_googlenet.py / benchmark_overfeat.py i get :
[code]
benchmark_vgg.py :
[code]

i confirm i did `export HIP_VISIBLE_DEVICES=0`

do you think its related or should i open another issue for this ?

[2018-02-13 03:45] yige-hu commented on #62
BTW, I have a patch to fix this. @whchung Could you take a look at pull request #68

[2018-02-13 03:54] yige-hu commented on #61
Hi @parallelo ,

I have pull request #68 to fix issue #62 . But after that the illegal instruction mentioned here still exists.

I now strongly doubt it's affected by my patch mentioned in [#343](https://github.com/ROCm-Developer-Tools/HIP/issues/343) in ROCm-Developer-Tools/HIP, since I cannot run
`/opt/rocm/hip/samples/2_Cookbook/0_MatrixTranspose/`
with that patch.

But without the patch, I got

[2018-02-14 01:47] yige-hu commented on #61
I tried cherry-pick the commit (as mentioned in #67)
`git cherry-pick 417dfce2180a49e1bbe38db10025b5da4101c153`
And hipTensorflow compiles.

It seems there is no illegal instruction error. However, when running tensorflow/examples/learn/mnist.py, I got the followed error message.
[code]

Also, when running
[code]
They hang after the followed messages printed out.
[code]

Thanks,
Yige

[2018-02-15 07:32] thefiddler commented on #55
Is Windows support planned in the future? If so, what would be the minimum requirement for the GPU?

Windows support is important for us, as 90% of our customers are using Windows.

[2018-02-16 08:19] JorgeCeja commented on #61
Hello everyone! @parallelo I'm am also facing a similar issue: "PoolAllocator - Raising pool size limit". Also, I get hangs after "running auto-tune for Convolve" or "running auto-tune for Backward-Filter"

Here is my set-up.
Operating System: Ubuntu 16.04.3 LTS, Linux kernel 4.13.0
GPU: AMD Vega 64
ROCm backend.

[2018-02-16 22:57] Mandrewoid commented on #63
@Frenchie-Juice  Specifically what radeon gpu, and what intel CPU?

[2018-02-16 22:59] Mandrewoid commented on #48
I think nobody has answered because you didn't provide any system information, and because Debian is unsupported

[2018-02-16 23:07] gstoner commented on #63
We are upgrading to 1.7.1 right now we role out dates out with this release.   We also working on Rolling out Tensorflow 1.3 with this release,  right now we running 24 hours test on Tensorflow 1.3 against newly made available servers.  22 new nodes for testing.

[2018-02-16 23:47] Frenchie-Juice commented on #63
Hi,

I figured out my problem.

It wasn't my Radeon card that was the issue, but my virtualization environment that used a generic GPU driver.

So basically TensorFlow wasn't detecting any GPU due to that problem.

At that stage, after everything I tried, I see only 2 options for me to get TensorFlow to work on the latest MacBook Pro:

1) wait for AMD to eventually release their ROCm stack to MacO

[2018-02-17 14:11] Mandrewoid commented on #63
@gstoner Is this 1.3 build going to come with a python 3 version?

[2018-02-20 22:51] yige-hu commented on #61
Hey Jeff @parallelo ,

Any plans to fix this? I just updated a bit on my previous post -- with AlexNet, we actually got a GPU page fault.

Besides, I tried the Cifar10 benchmark from Tensorflow models, and got a new error message:
[code]

It seems that there might also be a porting issue with the TF python modules.

Thanks,
Yige

[2018-02-22 19:34] samscott1989 commented on #55
totally agree Tensor Flow should be support  AMD GPU in windows...

i dont want because Tensor Flow i have to bought another one  graphics card.

It's not worth it.

[2018-02-22 19:48] MonkeyChap commented on #44
Has anyone attempted this ?  I was about to have a go, but didn't want to waste time if it's not going to build.

[2018-02-22 20:31] whchung commented on #44
Building TensorFlow on OSX is actually not hard. Getting it to run is. This project depends on https://github.com/RadeonOpenCompute/ROCK-Kernel-Driver which is Linux-only at this moment.

[2018-02-23 16:28] HerrickCof opened #69 "ImportError"
Hello
I got this error. How can I get it work? I have a RX 470D and want to use it to do machine learning. This graphic card is supplied only in China, and it's a scaled-down version of RX470 which also can run RX470 bios. (I don't know if it's relevant)
[code]

[2018-02-23 16:31] HerrickCof commented on #69
[code]

[code]

[2018-02-23 16:32] HerrickCof commented on #69
[code]

[2018-02-24 00:48] anton-matosov commented on #44
Will that work with VMWare Fusion VM with Ubuntu 16.04 as a guest OS then?

P.S.
Host OS is MacBook Pro with i7-6700HQ CPU (VT-d and VT-x capable) and AMD Radeon Pro 460/Intel HD Graphics 530 GPUs.

[2018-02-24 08:27] HerrickCof commented on #69
It seems like hcc was not installed properly. Still not figure it out.
`
/home/herrick/hcc/compiler/lib/WindowsManifest/WindowsManifestMerger.cpp:21:30: fatal error: libxml/xmlreader.h: No such file or directory`

[2018-02-24 09:41] HerrickCof commented on #69
I give up. Waste too much time on setting up the environment.

[2018-02-24 09:41] #69 closed

[2018-02-24 22:45] JorgeCeja commented on #63
@gstoner Do you have an ETA for the update(s)? Much appreciated!

[2018-02-26 10:05] Mandrewoid commented on #69
Hey @HerrickCof  Sorry I didn't notice until after you gave up, but it appears that you are missing

Does your .bashrc have a section like this:

export PATH=/opt/rocm/bin:$PATH
export LD_LIBRARY_PATH=/opt/rocm/lib:$LD_LIBRARY_PATH
export HIP_VISIBLE_DEVICES=0

# ---------- End of Rocm ----------------------

Just a note I am running rocm 1.4.17494 so things may be different, but I don't think the

[2018-02-28 02:46] zhhhaolong opened #70 "Windows linux subsystem with hip tensorflow"
I am using the ubuntu subsystem on windows to try to get hip tensorflow to work. I followed the basic installation guide and installed hip tensorflow.

However, after everything is installed, I started python (2.7.12) do
import tensorflow as tf

The following error pops up:

Type "help", "copyright", "credits" or "license" for more information.
 import tensorflow as tf
Traceback (most recent call

[2018-02-28 02:56] whchung commented on #70
windows, and ubuntu on windows is not supported. Please install native ROCm stack at: https://github.com/RadeonOpenCompute/ROCm

[2018-02-28 02:56] #70 closed

[2018-02-28 04:52] pdiffley opened #71 "hiptensorflow Python 3 Support"
I am installing hiptf in a python 3 virtual environment. When I run:

`pip install tensorflow-1.0.1-cp27-cp27mu-linux_x86_64.whl && rm tensorflow-1.0.1-cp27-cp27mu-linux_x86_64.whl
`

I receive the error:

`tensorflow-1.0.1-cp27-cp27mu-linux_x86_64.whl is not a supported wheel on this platform.`

I am under the impression this is because the installation guide installs the python 2.7 version of te

[2018-02-28 15:34] Mandrewoid commented on #71
I'm also interested in this. I'm not an expert on TF or HIP but I think it might be possible if building from source, to reconfigure bazel to build the python 3 version. in #63  it was mentioned a new version is coming soon... So I haven't taken the time to work on this.
My definition of soon might be different than others though, because that was 12 days ago.

[2018-02-28 20:24] vidullan commented on #61
We seem to be having the same issue running a Vega 64 with Ryzen 1700 on Ubuntu 16.04 (4.13) with ROCM 1.7 . Certain hip-tensorflow examples such as MNIST seem to be working, but when running a convolutional network it hangs after auto-tune.

Any updates on when an update will be released or fixes?

[2018-03-01 00:08] teosoft123 opened #72 "Port, Release and Support Tensorflow 1.6+"
### Tensorflow 1.6 was released today. HIP Tensorflow is 1.0.1
I'm wondering if there's any plans to release and support versions that are not one year old.

[2018-03-01 02:27] Mandrewoid commented on #72
#63

[2018-03-01 07:01] JorgeCeja commented on #61
@vidullan Uninstall ROCM, Roll back to Kernel 4.10 and reinstall ROCM. Also, make sure to lock to kernel 4.10 to prevent any kernel update for the time being. I ran into the same issue and figured it out after many OS installs. Hope that helps!

[2018-03-02 04:27] vidullan commented on #61
@JorgeCeja Thanks for the reply. I tried that and still no luck. The logs seem to suggest this is the
issue:

Mar  1 23:02:15 xxxx kernel: [  447.781216] [drm:drm_atomic_helper_swap_state [drm_kms_hel
per]] *ERROR* [CRTC:42:crtc-0] hw_done timed out
Mar  1 23:02:25 xxxx kernel: [  458.020793] [drm:drm_atomic_helper_wait_for_dependencies [
drm_kms_helper]] *ERROR* [CRTC:42:crtc-0] hw_done timed out

[2018-03-02 18:41] victor-felicitas opened #73 "could not install ROCm"
I have experienced strange error while trying to install ROCm pkgs on Ubuntu 16.04 - seems like something with CDROM drivers.
I don't have cd-rom at all, maybe this is a problem?

On my old notebook (which has cd-rom) everything worked fine at this point.
Please help!

vityek@vityek-X370GTN:~$ sudo apt-get update && \

Ign:1 cdrom://Ubuntu 16.04.3 LTS _Xenial Xerus_ - Release amd64 (20170801) xeni

[2018-03-02 18:57] whchung commented on #73
@victor-felicitas please raise the ticket at: https://github.com/RadeonOpenCompute/ROCm

[2018-03-02 18:57] #73 closed

[2018-03-05 08:17] alecuba16 commented on #63
@gstoner Will you release a source code version of the required binaries in order to compile for other distros like gentoo?

[2018-03-05 09:08] Dekken commented on #63
I'm pretty sure this 99% the case - I have built most things manually - the DKMS might be a bit of a concern on different kernels I imagine

[2018-03-05 09:33] alecuba16 commented on #63
@Dekken I personally use Gentoo so I don't know what patches are needed, since many instructions are just for debian/ubuntu.

Do you have any checklist or order starting from nothing to finally the tensorflow python module of what I have to do?

[2018-03-05 09:41] Dekken commented on #63
I have an out of date set of instructions if you'd like [a reference](https://github.com/lxcy/2.0.5-x86_64-debian8.6_hcc/blob/master/setup/rocm_master_rel.sh)

+ this and possibly some more

https://github.com/ROCmSoftwarePlatform/hiptensorflow/issues/65

[2018-03-06 02:51] gstoner commented on #63
We have have been building  1.7.1 Beta 4 against Generic 4.13 kernel

[2018-03-07 00:01] max0x7ba opened #74 "Couldn't open CUDA library libhipfft.so, libhiprng.so."
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

I googled and got 11 search results total, none helped.

### Environment info
Operating System:
[code]

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

No CUDA installed.

If installed from binary pip package, provide:

1. A link to t

[2018-03-07 12:39] alecuba16 commented on #63
@gstoner Where I can find the sources? hip-develop seems to be not working for me (1.7).

[2018-03-07 12:49] gstoner commented on #63
Here is break down of the repos
Everything that sit on on top of the language runtimes https://github.com/ROCmSoftwarePlatform
The Development tool are here https://github.com/ROCm-Developer-Tools OpenCL is the exception it still in next Rep bellow
Main Body of the driver and System Software is here https://github.com/RadeonOpenCompute

HIP is in Developer-Tools Repo.

Greg

[2018-03-08 00:02] Mandrewoid commented on #74
In no particular order:
libhiprng.so is provided by package "rocrand" but I believe it is provided as libhiprand.so
I just symlinked it to /opt/rocm/lib/libhiprng.so and it works fine

libhipfft.so is provided by package "hcfft" as /opt/rocm/hcfft/lib/libhipfft.so
It is possible this was symlinked automatically to opt/rocm/lib/libhipfft.so but it might not have been.

What I can tell you is my sta

[2018-03-09 20:19] FelixSchwarz commented on #72
source: 60ad8b65fd34845066fa078393615091449962ad

[2018-03-14 10:09] Chern2 opened #76 "Failed to load the native TensorFlow runtime."
I installed hiptensorflow following https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/rocm_docs/tensorflow-quickstart.md. I am not really sure that all have been installed correctly. But I tried to run my model, a problem arises. By the way, my platform is ubuntu 16.04 + r7 1800x +Vega56. Here is error information:

Traceback (most recent call last):
  File "train.py", line 1, in <mod

[2018-03-14 14:16] Mandrewoid commented on #76
Don't worry, you aren't alone. If you search on github specifically for the symbol that is undefined, there are a few cases like yours. Including myself.
https://github.com/RadeonOpenCompute/ROCm/issues/351#issuecomment-372562986
Might be worth checking out
https://github.com/ROCmSoftwarePlatform/hiptensorflow/pull/75
As well, depending on how deep you want to go.
I found that upgrading my ROCm br

[2018-03-15 04:16] Chern2 commented on #76
@Mandrewoid What kind of ROCm version do you use now?  Dose this problem happen only in  version 1.7? Vega family products are supported by ROCm after version 1.6.

[2018-03-15 23:30] Mandrewoid commented on #76
@Chern2 I don't actually know for sure what ROCm version I have, or am running, but my card is a vega FE, and the output of rocminfo says :
Runtime Version:         1.1

[2018-03-16 03:48] Chern2 commented on #76
@Mandrewoid vega fe should be one of vega family. I think the version that you are using should support my GPU. Can you tell me how to downgrade  ROCm ?

[2018-03-16 06:54] Mandrewoid commented on #76
Hmm that's a question that's rather difficult for me to answer because I'm not an expert on package management.... For me, I just installed it from the dpkg cache file, but if you never had an old version installed, this won't be a possibility.
I think perhaps it is time to ask @gstoner ? I'm not sure if the AMD repo (http://repo.radeon.com/rocm/apt/debian/)
contains previous versions at all? I ju

[2018-03-16 07:06] sunway513 commented on #76
Hi @Chern2 @Mandrewoid , as stated in the [rocm readme](https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/README.ROCm.md), we are deprecating this repository, and will soon provide access to the ROCm support of TF1.3.

The only recommended way to try hipTF is to follow the instruction and use our prepared docker image, please find it here
`https://hub.docker.com/r/rocm/hiptensorflow/t

[2018-03-16 07:06] #76 closed

[2018-03-16 18:28] Mandrewoid commented on #76
@sunway513 Is there anything I can do to help get 1.3 out? Testing/building, etc

[2018-03-18 15:46] Dekken commented on #63
@alecuba16

I've gone through [my script](https://github.com/Dekken/scripts/blob/master/hcc.sh) and updated it - PRs are welcome!

[2018-03-18 15:56] Sumenia commented on #28
As far as I am concerned, it runs fine with rocm 1.7.1 on ubuntu 16.04 host with AMD VEGA 56 through docker hub image https://hub.docker.com/r/rocm/hiptensorflow/tags/  Don't forget to specify the tag `rocm1.7` when you pull or run it

[2018-03-18 16:01] Dekken commented on #28
That's good, I didn't notice 1.7 was pushed to docker hub (11 days ago)

that's should make somethings easier

[2018-03-19 20:39] whchung commented on #72
https://github.com/ROCmSoftwarePlatform/tensorflow
ROCm port of TensorFlow 1.3.0 has just been made public. It has been tested against ROCm stack version 1.7.1.

We are now working on enabling RNN & fp16 kernels, as well as re-sync with upstream TensorFlow.

[2018-03-19 20:57] Bengt commented on #72
The wheel of TensorFlow 1.3 is not in the repository yet: http://repo.radeon.com/rocm/misc/tensorflow/

[2018-03-19 20:59] whchung commented on #72
+@jedwards-AMD for awareness

[2018-03-19 21:00] sunway513 commented on #76
Thanks @Mandrewoid ! We have just released the TF1.3, please take a look and let us know if you can spot any issues:
https://github.com/ROCmSoftwarePlatform/tensorflow

[2018-03-19 21:35] jedwards-AMD commented on #72
The 1.3.0 version of tensorflow has been uploaded to this location: http://repo.radeon.com/rocm/misc/tensorflow/tensorflow-1.3.0-cp27-cp27mu-linux_x86_64.whl

[2018-03-22 07:02] xyang2013 commented on #72
@whchung Is RNN currently working? I have Vega FE (Ubuntu 16.04.4) and not sure which driver to install to get TF 1.3 working. Thank you

[2018-03-22 16:25] whchung commented on #72
@xyang2013 For RNN, you can find a branch at:

https://github.com/ROCmSoftwarePlatform/tensorflow/tree/rocm-v1-rnn

You won't be able to use it though, as relevant RNN kernels in MIOpen are not released yet. An upcoming MIOpen 1.3 is coming in the next couple of days and we will then merge this branch into the default branch.

[2018-03-22 16:26] whchung commented on #72
@xyang2013 Install ROCm stack gets you required drivers `rock-dkms`, `compute-firmeware` installed.

[2018-03-22 23:17] xyang2013 commented on #72
@whchung Thank you. Is it right to assume that if RNN works, LSTM/GRU would also work?

[2018-03-28 15:19] victor-felicitas opened #77 "Inverted colors on tensorflow Cyclegan training"
Hello!

I am trying to use hip-tensorflow to train Cyclegan for image style transfer.
I have tried several tensorflow and 1 tensorlayer implementations.
However, all of them do not work as intended on latest 1.7 ROCM.

I am using datasets provided by original Cyclegan research authors.
For example, horses2zebras after 20 epochs training result in
![image](https://user-images.githubusercontent.com/

[2018-03-28 15:24] whchung commented on #77
@victor-felicitas `hiptensorflow` is deprecated and won't be supported anymore. I'm wondering could you try the experiment on our 1.3.0 port at: https://github.com/ROCmSoftwarePlatform/tensorflow/ ?

[2018-03-28 19:49] victor-felicitas commented on #77
Hi whchung,

Thanks for advice.
Installation wasn't easy but I did it) I have uninstalled and then reinstalled ROCM, then new 1.3.0 port.

1. Tensorlayer doesn't work at all (latest one,  1.8.2). It starts producing "nans" just after few images (previously on Hiptensorflow usually after 20 epochs):
MIOpen(HIP): Warning [ReadFile] File is unreadable.
2018-03-28 22:28:36.702796: I tensorflow/core/ke

[2018-04-02 00:08] whchung commented on #77
@victor-felicitas please kindly open the ticket at https://github.com/ROCmSoftwarePlatform/tensorflow as I'll take this repository down very soon.

[2018-04-02 00:08] #77 closed

[2018-04-02 00:09] whchung commented on #74
Please kindly try https://github.com/ROCmSoftwarePlatform/tensorflow/ and open the issue there in case it persists. This project has been deprecated and I'll close this repository very soon. Thanks for your understanding.

[2018-04-02 00:09] #74 closed

[2018-04-02 00:09] #72 closed

[2018-04-02 00:10] whchung commented on #71
Please kindly try https://github.com/ROCmSoftwarePlatform/tensorflow/ and open the issue there in case it persists. This project has been deprecated and I'll close this repository very soon. Thanks for your understanding.

[2018-04-02 00:10] #71 closed

[2018-04-02 00:10] whchung commented on #63
Please kindly try https://github.com/ROCmSoftwarePlatform/tensorflow/ and open the issue there in case it persists. This project has been deprecated and I'll close this repository very soon. Thanks for your understanding.

[2018-04-02 00:10] #63 closed

[2018-04-02 00:10] whchung commented on #62
Please kindly try https://github.com/ROCmSoftwarePlatform/tensorflow/ and open the issue there in case it persists. This project has been deprecated and I'll close this repository very soon. Thanks for your understanding.

[2018-04-02 00:10] #62 closed

[2018-04-02 00:10] whchung commented on #61
Please kindly try https://github.com/ROCmSoftwarePlatform/tensorflow/ and open the issue there in case it persists. This project has been deprecated and I'll close this repository very soon. Thanks for your understanding.

[2018-04-02 00:10] #61 closed

[2018-04-02 00:10] whchung commented on #56
Please kindly try https://github.com/ROCmSoftwarePlatform/tensorflow/ and open the issue there in case it persists. This project has been deprecated and I'll close this repository very soon. Thanks for your understanding.

[2018-04-02 00:10] #56 closed

[2018-04-02 00:11] whchung commented on #55
ROCm on Windows is still under development and I couldn't disclose a timeframe yet. Meanwhile lease kindly try https://github.com/ROCmSoftwarePlatform/tensorflow/ on Linux. This project has been deprecated and I'll close this repository very soon. Thanks for your understanding.

[2018-04-02 00:11] #55 closed

[2018-04-02 00:12] whchung commented on #50
Please kindly try https://github.com/ROCmSoftwarePlatform/tensorflow/ and open the issue there in case it persists. This project has been deprecated and I'll close this repository very soon. Thanks for your understanding.

[2018-04-02 00:12] #50 closed

[2018-04-02 00:12] whchung commented on #48
Please kindly try https://github.com/ROCmSoftwarePlatform/tensorflow/ and open the issue there in case it persists. This project has been deprecated and I'll close this repository very soon. Thanks for your understanding.

[2018-04-02 00:12] #48 closed

[2018-04-02 00:12] whchung commented on #44
ROCm for OSX is not in the roadmap for now.

[2018-04-02 00:12] #44 closed

[2018-04-02 00:12] whchung commented on #39
Please kindly try https://github.com/ROCmSoftwarePlatform/tensorflow/ and open the issue there in case it persists. This project has been deprecated and I'll close this repository very soon. Thanks for your understanding.

[2018-04-02 00:12] #39 closed

[2018-04-02 00:12] whchung commented on #38
Please kindly try https://github.com/ROCmSoftwarePlatform/tensorflow/ and open the issue there in case it persists. This project has been deprecated and I'll close this repository very soon. Thanks for your understanding.

[2018-04-02 00:12] #38 closed

[2018-04-02 00:13] whchung commented on #34
Please kindly try https://github.com/ROCmSoftwarePlatform/tensorflow/ and open the issue there in case it persists. This project has been deprecated and I'll close this repository very soon. Thanks for your understanding.

[2018-04-02 00:13] #34 closed